@import url("theme.css");
/* TabPane generale */
/* Sfondo generale */
.tab-pane {
    -fx-tab-min-height: 25;
    -fx-background-color: transparent;
}
/* Area linguette tab */
.tab-pane .tab-header-area {
    -fx-background-color:transparent;
    -fx-padding: 0;
}

/* Regione che contiene le linguette — si espande */
.tab-pane .tab-header-area .headers-region {
    -fx-background-color: linear-gradient(from 0% 100% to 100% 89%, #E099F9 0%, #A23DC6 50%, #782B94 100%);
    -fx-alignment: center;
    -fx-spacing: 20;
    -fx-max-width: Infinity;
    -fx-background-radius: 20;
}
.tab-pane *.tab-header-background {
    -fx-background-color: null;

}
/* Ogni linguetta occupa lo stesso spazio */
.tab-pane .tab {
    -fx-background-color: null;
    -fx-border-color: null;
    -fx-background-radius: 20;
    -fx-padding: 6 20;
    -fx-max-width: Infinity;
    -fx-min-width: 40;
    -fx-cursor: hand;
    -fx-text-base-color: white;

}
/* Tab selezionato */
.tab-pane .tab:selected {
    -fx-background-color: linear-gradient(from 0% 100% to 100% 100%, #00FF95, #A95BF2 );
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.table-view {
    -fx-padding: 10;
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-background-radius: 20;
    }

.table-view .column-header {
    -fx-background-color: rgba(245, 245, 245, 1);
    -fx-alignment: center;
}
