@import url("theme.css");
.button {
    -fx-background-color: linear-gradient(to bottom, #00E6FF, #0053BC);
    -fx-font-family: "Alata";
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-background-radius: 12px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 4, 0, 0, 2);
    -fx-cursor: hand;
}
.paneUsername {
    -fx-background-color: linear-gradient(from 0% 80% to 100% 80%, #BEFFE9, #C965E0);
    -fx-cursor: hand;
}
.LeaderBoardBtn{
    //-fx-background-color: linear-gradient(from 0% 100% to 100% 100%, #37e191 0%, #8237d6 100%);
    -fx-background-color: linear-gradient(to bottom, #37e191, #8237d6);
    -fx-font-size: 13px;
    -fx-background-radius: 12px;
    -fx-cursor: hand;
}
.LeaderBoardBtn:hover {
    -fx-background-color: linear-gradient(to bottom, #4ef1a3, #a24ef1);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 8, 0, 0, 4);
}
.giocaBtn:hover {
    -fx-background-color: linear-gradient(to bottom, #00bfff, #003f8a);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 8, 0, 0, 4);
}
