
.text-area {
    -fx-padding: 15;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-background-color: white;
}
.text-area:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0;
    -fx-border-color: transparent;
}

.progress-bar {
    -fx-background-radius: 20;
    -fx-padding: 0;
}
.progress-bar > .bar {
    -fx-background-color: linear-gradient(#5be179, #2cff5c); /* Verde brillante */
    -fx-background-radius: 20;
    -fx-padding: 0;
    -fx-background-insets: 0;
}
.progress-bar > .track {
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

