
.text-area {
    -fx-padding: 15;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-background-color: white;
}
.text-area:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0;
    -fx-border-color: transparent;
}

.progress-bar {
    -fx-background-radius: 20;
    -fx-padding: 0;
}
.progress-bar > .bar {

    -fx-background-radius: 20;
    -fx-padding: 0;
    -fx-background-insets: 0;
}

.progress-bar > .bar.high {
    -fx-background-color: linear-gradient(#5be179, #2cff5c); /* Verde */
}

.progress-bar > .bar.medium {
    -fx-background-color: linear-gradient(#f0c94c, #f0c94c); /* Giallo */
}

.progress-bar > .bar.low {
    -fx-background-color: linear-gradient(#ff6b6b, #ff6b6b); /* Rosso */
}

.progress-bar > .track {
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

.button {
    -fx-text-fill: white;
    -fx-font-size: 1.5em;
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 12px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-effect: dropshadow(gaussian, rgba(123,47,242,0.25), 16, 0.4, 0, 6);
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

