.circle-pane {
    -fx-padding: 10;
}

.circle-outer {
    -fx-fill: white;
    -fx-stroke: transparent;
    -fx-opacity: 0.4;
}

.circle-middle {
    -fx-fill: white;
    -fx-stroke: transparent;
    -fx-opacity: 0.6;
}

.circle-inner {
    -fx-fill: white;
    -fx-stroke: transparent;
}

/* Responsive font sizes */
.circle-title {
    -fx-text-fill: 85;
    -fx-font-weight: bold;
    -fx-font-size: 1.5em;
}

.circle-value {
    -fx-text-fill: #9e0081;
    -fx-font-size: 2em;
    -fx-font-weight: 600;
}

.bg {
    -fx-background-color: linear-gradient(to bottom, #462C9A, #7A4AC4);
    -fx-background-radius: 0 0 100 100;
}

.floating-region {
    -fx-background-color: white;
    -fx-background-radius: 50 50 50 50;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 20, 0, 0, 5);
}


.floating-title {
    -fx-text-fill: black;
    -fx-font-size: 2.5em;
    -fx-font-weight: bold;
}

.floating-subtitle {
    -fx-text-fill: black;
    -fx-font-size: 1.8em;
    -fx-font-weight: 400;
}

.button{
    -fx-background-color: transparent;
}

.button:hover{
    -fx-background-color: white;
    -fx-background-radius: 50;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}