.circle-pane {
    -fx-padding: 10;
}

.circle-outer {
    -fx-fill: white;
    -fx-stroke: transparent;
    -fx-opacity: 0.4;
}

.circle-middle {
    -fx-fill: white;
    -fx-stroke: transparent;
    -fx-opacity: 0.6;
}

.circle-inner {
    -fx-fill: white;
    -fx-stroke: transparent;
}

/* Responsive font sizes */
.circle-title {
    -fx-text-fill: 83;
    -fx-font-weight: bold;
    -fx-font-size: 1.5em;
}

.circle-value {
    -fx-text-fill: #9e0081;
    -fx-font-size: 2em;
    -fx-font-weight: semi-bold;
}

.bg {
    -fx-background-color: linear-gradient(to bottom, #462C9A, #7A4AC4);
    -fx-background-radius: 0 0 100 100;
}

.floating-region {
    -fx-background-color: white;
    -fx-background-radius: 50 50 50 50;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 0, 5);
}